/* .App {
  text-align: center;
  background-color: black;
  border-radius: 5px;
  color: azure;
  margin: none;
  height: 140px;
  padding-top: 5px;
}
.hi{
  background-color: gray;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
} */

